@model AltPro.BackTracker.ViewModels.TaskViewModel

@{
    ViewData["Title"] = "AddTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddTask</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTask" asp-controller="Task" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModuleName" class="control-label"></label>
                <input asp-for="ModuleName" class="form-control" />
                <span asp-validation-for="ModuleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskPriority" class="control-label"></label>
                <select asp-for="TaskPriority" class="custom-select" asp-items="Html.GetEnumSelectList<ETaskPriority>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

