@model AltPro.BackTracker.ViewModels.TaskEditViewModel
@{
    ViewData["Title"] = "TaskView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Task</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="ReportList" asp-controller="Home" method="post">
            <input hidden asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AssignedID" class="control-label"></label>
                <input asp-for="AssignedID" class="form-control" />
                <span asp-validation-for="AssignedID" readonly class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleName" class="control-label"></label>
                <select asp-for="ModuleName" disabled="disabled" class="custom-select" asp-items="Html.GetEnumSelectList<EModule>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="TaskPriority" class="control-label"></label>
                <select asp-for="TaskPriority" disabled="disabled" class="custom-select" asp-items="Html.GetEnumSelectList<ETaskPriority>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" readonly class="form-control"></textarea>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" asp-controller="home" asp-action="ReportList"> Back</a>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="TaskView" asp-controller="Home" method="post">
            <div class="row">
                <div class="col-md-10">
                    <span asp-validation-for="NewCommentBody" class="text-danger"></span>
                    <textarea asp-for="NewCommentBody" class="form-control" placeholder="Add new comment..."></textarea>
                </div>
                <div class="form-group col-md-2">
                    <input type="submit" class="btn btn-primary" asp-controller="home" asp-action="TaskView" value="Add Comment"/>
                </div>
            </div>
        </form>
    </div>
</div>
<hr size="1" color="#808080" />
<div class="row">  
    <div class="col-md-12">
        @foreach (var comment in Model.Comments)
        {
        <div class="p-1 mb-2 text-white rounded" style="background-color:#808080">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">@comment.PosterName</h6>
                    <small class="text-muted">Commented at: @comment.TimePosted</small>
                </div>
                <div>
                    <small class="text-muted"><strong>@comment.CommentBody</strong></small>
                </div>
            </a>
        </div>
        }

    </div>
</div>

